<header>
  <div class= "header">
    <a class="navbar-brand ml-4" href="/admin"><h3
        style="color: #397a5b"
      >BuyItFresh</h3></a>
  </div>
  <nav class="navbar navbar-custom navbar-expand-lg navbar-light">

    <style>
      .navbar-custom{ background-color: #03C769; padding: 0.5em 2em 0.5em 2em;
      box-shadow: 0px 1px 2px 1px green inset; position: fixed;margin-top: 15px;width: 100%;} 
      .header{position: fixed; margin-top: -30px;background: white;width: 100%;}
    </style>

    <button
      class="navbar-toggler navbar-custom"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt- mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/view-products">All Products
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Users</a>
        </li>
      </ul>
      {{! <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Search</button>
      </form> }}
    </div>
  </nav>
</header>