  <footer class="footer">

<style>
  .social { 
    display: flex;
    flex-wrap: wrap; justify-content: space-evenly; align-items: center; 
    }
  .bottom{
    padding: 5px; background: #03C769; box-shadow: 1px 1px 2px 0px
      green inset;}
      }
  .footer{
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
  }    
</style>

  <div class="social">
    <a href="https://www.facebook.com/" target="_blank"><img
        src="public/how-to-download-facebook-icon-7.png"
        alt="Facebook"
        width="45px"
        height="auto"
      /></a>
    <a href="https://www.instagram.com/" target="_blank"><img
        src="public/logos/instagram.png"
        alt="Instagram"
        width="50px"
        height="auto"
      /></a>
    <a href="https://web.whatsapp.com/" target="_blank"><img
        src="public/logos/wha.jpg"
        alt="Whatsapp"
        width="70px"
        height="auto"
      /></a>
  </div>
  <div class="bottom"></div>
</footer>